table {
    border-collapse: collapse;
    width: 30%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:#b8b7b6;
  color: white;
}
td{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.exportBtn{
  border-radius: 10px;
  height: 70px;
  width: 100px;
  margin-top: 10px;

}

.deleteBtn{
  color: red;
  font-style: bold;
  font-family: system-ui;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}